/* Color scheme taken from Sergey Karayev */
    
    a:any-link {
      color: rgb(0, 25, 204); 
      text-decoration: none;
    }
    
    a:focus,
    a:hover {
      color: #0C90FF;
      text-decoration: none;
    }
    
    body {
      background-size: auto;
      background-repeat:no-repeat;
      background-position: center top; 
      margin-top: 10px;
    }

    td,
    th,
    tr,
    p,
    a {
      /*font-family: 'Lato', Verdana, Helvetica, sans-serif;*/
      font-family:'Source Sans Pro', sans-serif;
      font-size: 15px;
      color: rgb(61, 61, 61);
    }

    pmid {
      /*font-family: 'Lato', Verdana, Helvetica, sans-serif;*/
      font-family:'Source Sans Pro', sans-serif;
      font-size: 17px;
      color: rgb(61, 61, 61);
    }
    
    strong {
      font-family: 'Lato', Verdana, Helvetica, sans-serif;
      font-size: 15px;
      color: black;
    }
    
    heading {
      font-family: 'Lato', Verdana, Helvetica, sans-serif;
      font-size: 22px;
      color: black;
    }

    midheading {
      font-family: 'Lato', Verdana, Helvetica, sans-serif;
      font-size: 18px;
      color: black;
    }
    
    papertitle {
      font-family: 'Lato', Verdana, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 700;
      color: black;
    }
    
    name {
      font-family: 'Lato', Verdana, Helvetica, sans-serif;
      font-size: 36px;
      color: black;
      font-weight: 700;
    }

    .one {
      width: 160px;
      height: 160px;
      position: relative;
    }
    
    .two {
      width: 160px;
      height: 160px;
      position: absolute;
      transition: opacity .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      -webkit-transition: opacity .2s ease-in-out;
    }
    
    .fade {
      transition: opacity .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      -webkit-transition: opacity .2s ease-in-out;
    }
    
    span.highlight {
      background-color: #ffffd0;
    }

    .bottom-padding {
     margin-bottom: 40px;
    }

    .top-padding {
     margin-top: 40px;
    }

    li{
    margin: 10px 0;
    }
