/* Reset some default styles for consistency */
h1,
h2,
h3 {
  padding-bottom: 0.2em;
  line-height: 1.25;
  /*padding-top: 0.5em;*/
  font-weight: 500;
}

h1 {
  border-bottom: 1.2px solid #e1e4e8;
  font-size: 24px;
}

h2 {
  /*padding-top: 0.8em;*/
  margin-bottom: 16px;
  font-size: 24px;
}

/*h2 + h3 {
  padding-top: 4px;
}*/

h3 {
  font-size: 24px;
  padding-top: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0em;
  margin-bottom: 0.8em;
  padding: 0;
  text-align: justify;
}

body {
  /*font-family: breezesans, sans-serif;*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  color: #000;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
}

table {
  max-width: 1160px; /* Maximum width for screens larger than 1280px */
  width: 100%; /* Fallback width for smaller screens */
  margin: 0 auto; /* Center the container */
  background-color: white;
}

strong {
  font-weight: bold; /* Sets the font weight to bold (700) */
}

table .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  max-width: 100%;
  width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  /*padding: 1rem 2rem;*/
  align-items: center;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%; /* Fallback width for smaller screens */
  margin: 0 auto; /* Center the container */
}

.top-bar ul {
  list-style: none;
  display: flex;
}

.top-bar li {
  margin-left: 2rem;
}

.top-bar a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.top-bar a:hover {
  color: #ff2800;
}

.left-side {
  padding-left: 10px;
}

.right-side {
  padding-right: 10px;
}

/*img {
  pointer-events: none;
}*/

/* .teaser-video {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: -40px;
} */

/* .teaser-video figure {
  width: 90%;
} */

/* video {
  display: block;
  margin: auto;
} */

.table a:link {
  text-decoration: none;
  color: #ff2800;
  /*background-color: white;*/
  font-weight: 600;
}

.table a:visited {
  color: #ff2800;
}

.table a:hover {
  /*color: #FF2800;*/
  /*color: #4B9FE3;*/
  color: black;
  font-weight: 600;
  /*background-color: black;
  color: white;
  padding: 0.2rem 0.2rem;
  border-radius: 3px;*/
}

.bio-row {
  padding-top: 50px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.bio-text {
  padding-top: 32px;
  vertical-align: middle;
}

.profile-image {
  /*pointer-events: none;*/
  padding-top: 20px;
  width: 250px;
  border-radius: 50%;
  /*margin-bottom: 1rem;*/
  padding-left: 32px;
  padding-right: 32px;
  height: auto;
}

.mail {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  /* color: gray; */
  color: gray;
  text-align: center; /* Move this here to center the text */
  /*font-family: "Courier New", sans-serif;*/
  font-style: italic;
}

/* .office {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
} */

.social-media {
  font-size: 36px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-media i {
  color: black;
}

.social-media i:hover {
  color: #ff2800;
}

.social-media a:hover {
  background-color: white;
  padding: 0rem 0rem; /* Add this line to create some padding around the link text */
  border-radius: 0px;
}

.news-scroll-box {
  height: 200px;
  overflow: auto;
  background-color: #f7f5f5;
  padding: 2px 10px 10px 10px;
}

.publications-list {
  align-items: center;
  margin-bottom: 1.5em;
  display: flex;
  gap: 20px;
}

.publications-list img {
  width: 300px;
  height: auto;
}

.publications-list video {
  width: 300px;
  height: auto;
}

.publication-name {
  font-size: large;
  font-weight: bold;
}

/*.publication-authors{
  font-style:italic; 
}*/

.publication-info {
  font-style: italic;
}

.publication-links {
  margin-top: 0.4rem;
  gap: 20px;
}

.publication-links a:link {
  background-color: black;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
}

.publication-links a:visited {
  color: white;
}

.publication-links a:hover {
  background-color: white;
  color: red;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

.academics-row {
  /* margin-top: -30px; */
  display: flex;
  padding-bottom: 50px;
}

.service-list a:link {
  text-decoration: none;
  color: #ff2800;
  /*background-color: white;*/
  font-weight: 600;
}

.service-list a:visited {
  color: #ff2800;
}

.service-list a:hover {
  color: black;
  font-weight: 600;
}

.service-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

table .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  font-size: 12px;
  max-width: 100%;
  width: 100%;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  /*padding: 1rem 2rem;*/
  align-items: center;
  margin: 0 auto;
  max-width: 1160px;
  width: 100%; /* Fallback width for smaller screens */
  margin: 0 auto; /* Center the container */
}

@media (min-width: 1280px) {
  .table {
    width: 1280px;
  }
}
